@media only screen and (max-width : 500px) {

    main {
        flex-direction: column;
    }

    article {
        width: 100%;
    }

    .container-esquerda {
        width: 100%;
        padding: 0;
    }

    .aviso-botoes {
        padding: 0;
    }

    .botoes {
        flex-direction: column;
        width: 100%;
    }

    section {
        width: 100%;
        margin: 10% 0;
    }

    .container-direita img {
        display: none;
    }

    .container-p {
        padding: 0 5%;
        height: auto;
    }
}

@media only screen and (max-width: 950px) {

    main {
        flex-direction: column;
    }

    article {
        width: 100%;
    }

    .container-esquerda {
        padding: 0;
    }

    .campo-texto {
        width: 100%;
        margin: 10% 0;
    }

    .aviso-botoes {
        margin: 0 auto;
        padding: 0;
    }

    section {
        width: 100%;
        margin: 10% 0;
    }

    .container-direita {
        margin: 5% 0;
    }

    .container-direita img {
        display: none;
    }

    .container-p {
        padding: 0 5%;
        height: auto;
        margin-bottom: 10%;
    }

    .botao-copiar {
        margin: 0 5%;
    }

    #textResult {
        padding: 0;
    }

}