* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgba(243, 245, 252, 1), #3e5571);
    font-family: 'Inter', sans-serif;
}

/* LAYOUT DA ESQUERDA */

main {
    display: flex;
    flex-direction: row;
    height: auto;
}

article {
    width: 65%;
    height: auto;
}

.icone-alura {
    display: block;
    margin-left: 5%;
    margin-top: 5%;
}

.container-esquerda {
    display: block;
    width: 100%;
    margin: 5% 0;
    padding-left: 10%;
}

.campo-texto {
    width: 100%;
}

.campo-texto textarea {
    width: 100%;
    background-color: transparent;
    resize: none;
    padding: 5%;
    border: transparent;
    border-radius: 5%;
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    color: #0A3871;
}

.campo-texto textarea:focus {
    border: none;
    outline: none;
    color: #0A3871;
}

textarea::placeholder {
    color: #0A3871;
}

.aviso-botoes {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding-left: 10%;
    margin-bottom: 10%;
}

.aviso {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.aviso span {
    font-size: 14px;
    color: #495057;
}

.botoes {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
}

#criptografar,
#descriptografar,
#copiar {
    font-size: 1em;
    width: 100%;
    height: 70px;
    padding: 24px;
    border: 1px solid #0A3871;
    border-radius: 24px;
}

#criptografar:hover,
#descriptografar:hover,
#copiar:hover {
    cursor: pointer;
    transition: 0.5;
    background-color: black;
}

#criptografar {
    color: white;
    background-color: #0A3871;
}

#descriptografar,
#copiar {
    color: #0A3871;
    background-color: #D8DFE8;
}

/* LAYOUT DA DIREITA */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: auto;
}

.caixa-direita-container {
    width: 90%;
    height: 90%;
    background-color: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.container-direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}

.container-direita img {
    border-radius: 24px;
    height: 40%;
    width: 85%;
}

.container-direita h2 {
    margin: 5% 5%;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
}

.container-direita p {
    margin: 0 5%;
    text-align: center;
}

footer {
    display: inline-block;
    width: 100%;
    padding: 5% 0;
    background-color: #0A3871;
}

.texto-rodape {
    text-align: center;
    color: #FFFFFF;
}

.texto-rodape h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
}

.icones-rodape {
    text-align: center;
    color: #FFFFFF;
    margin: 30px 0;
}

.icones-rodape a {
    color: #D8DFE8;
    margin: 0 10px;
    text-decoration: none;
}

.icones-rodape a:hover {
    color: black;
    transition: 0.5;
}

.copyright {
    text-align: center;
    color: #FFFFFF;
    opacity: 0.6;
}


/* CSS js */


.container-direita-escrito {
    width: 100%;
    height: 100%;
}

.container-p {
    margin: 0 auto;
    padding: 5% 5%;
    height: 85%;
}

#textResult {
    text-align: left;
    margin: auto;
    word-break: break-all;
    width: 100%;
    padding: 5%;
    font-size: 2em;
    font-family: 'Inter', sans-serif;
    color: #1f1f1f;
}

.botao-copiar {
    display: block;
    margin: 0 10%;
    height: 15%;
}

#copiar {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    text-align: center;
}